<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css.css">
  <title>Heebrew Cafe - Void </title>
</head>
<body>
  <div class="header">HEEBREW CAFE</div>
  <div class="container">

    <div class="right-panel">
      <h3>VOID ORDER</h3>
      <div class="order-id-input">
        <input type="text" placeholder="Order ID">
      </div>
      <table>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Item</th>
            <th>QTY</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr> 
        </tbody>
      </table>
      <div class="order-info">
      </div>
      <div class="buttons">
        <button class="cancel-btn">CANCEL</button>
        <button class="void-btn">VOID</button>
      </div>
    </div>
      

    <div class="left-panel">
      <h3>ORDER QUEUE</h3>
      <div class="history-search">
        <input type="text" placeholder="Search">
        <button>PRINT RECEIPT</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Item</th>
            <th>QTY</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>